.app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    display: flex;
}

.container {
    max-width: 400px;
    min-width: 320px;
    margin: 0 auto;
}

.weather-bg-sn {
    background-color: var(--weather-bg-sn);
}

.weather-bg-sl {
    background-color: var(--weather-bg-sl);
}

.weather-bg-h {
    background-color: var(--weather-bg-h);
}

.weather-bg-t {
    background-color: var(--weather-bg-t);
}

.weather-bg-hr {
    background-color: var(--weather-bg-hr);
}

.weather-bg-lr {
    background-color: var(--weather-bg-lr);
}

.weather-bg-s {
    background-color: var(--weather-bg-s);
}

.weather-bg-hc {
    background-color: var(--weather-bg-hc);
}

.weather-bg-lc {
    background-color: var(--weather-bg-lc);
}

.weather-bg-c {
    background-color: var(--weather-bg-c);
}
